.centered-form {
  margin-top: 60px;
}
.main-view{
  height:100%
}
.admin{
  margin-top:20px;
}
.prendasAdmin{
  background-color: #286090;
  color: rgb(250,250,250);
}
.deleteAdmin{
  background-color: rgb(244,81,30);
  color: rgb(250,250,250);
}
table{
  border: 1px solid black;
}
tr{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
th{
  border: 1px solid black;
}
.adminRadio1{
  float:left;
}
.adminRadio2{
  float:left;
  margin-left: 5%;
}
.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#div-login {
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

#like {
  font-size: 10px;
  font-weight: bold;

}

#unlike {
  font-size: 10px;
  font-weight: bold;
}

. md-button .md-ink-ripple {

}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

#buscadorli {
  height: 100%;
}

#buscadordiv {
  height: 100%;
}

#buscador {
  height: 100%;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

#cards {
  float: left;
}

.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */
}

.inputdemoErrorsAdvanced .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

.form-signin {
  margin: -40px auto;
  max-width: 440px;
}

.need-help {
  margin-top: 20px;
  margin-bottom: 10px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

.flex-gt-sm-50 .flex {
  margin-top: 10px;
}

#resultados {
  margin-top: 10px;
}

div.background-img {
  background: url('image/index-foto.jpg');
  z-index: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  height: 500px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav {
  float: right;
  margin: 0;
}

.linksAccount a {
  color: white !important;
}

.autocompletediv {
  margin-top: 50px;
}

.tag-line {
  background-color: transparent;
  border-color: transparent;
}

.tag-line h2 {
  text-shadow: 2px 2px black;
  color: white;
  position: relative;
  margin-top: 90px;
  font-size: 50px;
}

.buttondemoBasicUsage section {
  background: transparent;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}

.buttondemoBasicUsage md-content {
  margin-right: 7px;
}

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54;
}
.imageProfile{
  width: 14%;
}

.botonentra {
  margin-top: 50px;
}

.tag-line.display {
  display: none;
}

.botonentra.display {
  display: none;
}

.background-img.display {
  display: none;
}

.collapse.navbar-collapse.display {
  background-color: #286090;
  border-color: #286090;
}

.aut {
  margin-top: -65px;
  width: 80%;
}

#div-login {
  margin-top: 65px;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs {
  background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}
.createNew{
  margin-top: 50px;
  width: 90%;
  margin-left:19px;
}
#file-input{
  display:none;
}

.imageDisplayBack{
  width:10%;
}
.image-logo{
  margin-top: -10px;
}
#quitar{
  color:white;
  background-color: red;
}
.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; }

.garment.main{
  width:190%;
}
.comentarios{
  margin-top:50px;
}
.info-garment{
  float:right;
  width:46%;
}
.image-garment{
  width:54%;
}
.change-username{
  float:left;
}
.userChangeData{
  width:60%;
}

