<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Closin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/library/angular-material.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/library/angular-material10.css">
  <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc4/docs.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/library/svg-assets-cache.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="scripts/library/angular-material08.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="scripts/library/angular-message.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/autocomplete.js"></script>
  <script src="scripts/controllers/search.js"></script>
  <script src="bower_components/flow.js/dist/flow.min.js"></script>
  <script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
  <script src="scripts/directives/directives.js"></script>
  <script src="scripts/controllers/upload.js"></script>
  <script src="scripts/controllers/garment.js"></script>
  <script src="scripts/factory/factory.js"></script>
  <script src="scripts/factory/usuario.js"></script>
  <script src="scripts/controllers/admin.js"></script>
  <script
    src="scripts/library/angular-master.js"></script>
</head>
<body ng-app="myapp" ng-controller="main">
<div class="header" ng-show="currentPath != '/'">
  <div class="background-img" ng-class="{display: $route.current.activetab == 'dashboard'}">&nbsp;</div>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"><img class="image-logo"src="/images/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse"
         ng-class="{display: $route.current.activetab == 'dashboard'}">
      <ul class="nav navbar-nav">
        <li ng-show="!pruebas.isLogged && pruebas.tipoUsuario != 1" class="linksAccount"><a href="#/login">Conéctate</a></li>
        <li ng-show="!pruebas.isLogged && pruebas.tipoUsuario != 1" class="linksAccount"><a href="#/register">Regístrate</a></li>
        <li ng-show="pruebas.isLogged && pruebas.tipoUsuario != 1" class="linksAccount"><a href="#/tuPerfil">Hola {{pruebas.nombre}}</a></li>
        <li ng-show="pruebas.isLogged && pruebas.tipoUsuario != 1" class="linksAccount"><a href="#/notificaciones">Notificaciones</a></li>
        <li ng-show="pruebas.isLogged && pruebas.tipoUsuario == 1" class="linksAccount"><a href="#/admin">Administrador</a></li>
        <li ng-show="pruebas.isLogged" class="linksAccount" ng-click="disconnect()"><a href="/">Salir</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center tag-line" ng-class="{display: $route.current.activetab == 'dashboard'}">
  <h2 class="pruebas">Nuestro armario es el tuyo</h2>
</div>
<div class="text-center botonentra" ng-class="{display: $route.current.activetab == 'dashboard'}">
  <md-button class="md-raised md-warn" ng-click="begin()">Sube una prenda</md-button>
</div>
<div class="container" ng-show="pruebas.tipoUsuario != 1">
  <buger></buger>
  <div ng-view class="main-view"></div>
</div>
<div class="container" ng-show="pruebas.tipoUsuario == 1">
  <div ng-view class="main-view"></div>
</div>

</body>
</html>
