<md-content class="md-padding" ng-controller="administrador">
    <input type="text" ng-model="test">
    <md-button class="md-raised md-warn" ng-click="adminCreate()">Crear usuario</md-button>
    <table style="width:100%">
        <tr class="text-center">
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Email</th>
            <th class="text-center">Tipo</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="usuario in usuarios| filter : test" class="text-center">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.tipoUsuarioId}}</td>
            <td ng-click="garmentUser(usuario)" class="prendasAdmin">Prendas</td>
            <td ng-click="deleteUser(usuario)" class="deleteAdmin">Eliminar</td>
        </tr>
    </table>
</md-content>

