<md-content class="md-padding" ng-controller="administradorPrendas">
    <input type="text" ng-model="test">
    <md-button class="md-raised md-warn" ng-click="turnBack()">Volver</md-button>
    <table style="width:100%">
        <tr class="text-center">
            <th class="text-center">Id</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Talla</th>
            <th class="text-center">Tipo</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="prenda in prendaProfile| filter : test" class="text-center">
            <td>{{prenda.id}}</td>
            <td>{{prenda.descripcion}}</td>
            <td>{{prenda.tallaId}}</td>
            <td>{{prenda.tipoPrenda}}</td>
            <td ng-click="comentPrenda(prenda)" class="prendasAdmin">Comentarios</td>
            <td ng-click="deletePrenda(prenda)" class="deleteAdmin">Eliminar</td>
        </tr>
    </table>
</md-content>