<div ng-app="moshe" ng-controller="MosheController" class="autocompletediv"
     ng-class="{aut: $route.current.activate == 'none'}">
  <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)"
                   md-item-text="item.nombre" md-min-length="1" placeholder="Buscar"
                   dl-enter-key="closeModalWindow();">
    <md-item-template><span md-highlight-text="searchText">{{item.nombre}}</span>

    </md-item-template>
    <md-not-found>No coincide ningún resultado.</md-not-found>
  </md-autocomplete>
</div>
