<md-content layout-padding="" ng-controller="uploadUser" class="createNew">
  <div>
    <form name="userForm">
      <div class="text-center md-primary">
        <div flow-files-submitted="$flow.upload()" flow-files-added="processFiles($files)" flow-init flow-name="obj.flow"
             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
          <div class="drop" flow-drop="" ng-class="dropClass">
            <span class="btn md-raised md-warn md-button md-ink-ripple" flow-btn="">Selecciona un archivo<input
              type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
            O arrastra una imagen aquí
          </div>

          <br>

          <div>

            <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
              <span class="title ng-binding"></span>

              <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="file" src="file.image" id="imageThum">
              </div>
              <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                     ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                  <span class="sr-only ng-binding">1% Complete</span>
                </div>
              </div>
              <div class="btn-group">
                <a class="md-accent md-raised md-hue-1 md-button md-ink-ripple" id="quitar" ng-click="file.cancel()">
                  Quitar
                </a>
              </div>
            </div>
            <!-- end ngRepeat: file in $flow.files -->
            <div class="clear"></div>
          </div>

        </div>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Talla</label>
          <md-select ng-model="uploadGarment.talla">
            <md-option ng-repeat="talla in tallas" ng-value="talla">
              {{talla.nombre}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Tipo de prenda</label>
          <md-select ng-model="uploadGarment.tipo">
            <md-option ng-repeat="tipo in tipos" ng-value="tipo">
              {{tipo.nombre}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Lo quiero intercambiar por...</label>
          <md-select ng-model="uploadGarment.ofrecida">
            <md-option ng-repeat="ofrecida in ofrecidas" ng-value="ofrecida">
              {{ofrecida.nombre}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Descripción</label>
          <textarea ng-model="uploadGarment.descripcion" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Marca</label>
          <md-select ng-model="uploadGarment.marca">
            <md-option ng-repeat="marca in marcas" ng-value="marca">
              {{marca.nombre}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container class="md-block" flex-gt-sm="">
        <div class="text-center md-primary">
          <md-button class="md-raised md-primary" ng-click="begin()">Sube la prenda</md-button>
        </div>
      </md-input-container>
    </form>
  </div>
</md-content>
