<md-content layout-padding="" ng-controller="garment" class="createNew">
  <div class="text-center">
    <h2>{{garmentProfile.descripcion}}</h2>
  </div>
    <img class="image-garment" src="{{garmentProfile.photo}}" id="imageThum">
    <div class="info-garment">
      <h3>Subida por {{garmentProfile.usuario}}</h3>
      <h3>Talla: {{garmentProfile.tallaId}}</h3>
      <h3>Marca: {{garmentProfile.marca}}</h3>
      <h3>Tipo de prenda: {{garmentProfile.tipoPrenda}}</h3>
      <h3>La quiero intercambiar por: {{garmentProfile.tipoPrendaOfrecida}}</h3>
    </div>
    <md-toolbar layout="row" class="md-hue-3 comentarios">
      <div class="md-toolbar-tools">
        <span>Comentarios</span>
      </div>
    </md-toolbar>
    <md-list class="md-dense" flex="">
      <md-list-item class="md-3-line" ng-repeat="comentario in comentarios" >
        <img ng-src="{{comentario.profileFoto}}" class="md-avatar" alt="{{usuario.nombre}}">
        <div class="md-list-item-text" layout="column">
          <h3>{{ comentario.usuarioId }}</h3>
          <p>{{ comentario.texto }}</p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  <div class="text-center">
    <md-input-container class="md-block" ng-show="usuarioLogged.isLogged">
      <label>Escribe tu comentario</label>
      <textarea  ng-model="newComment.texto" rows="5" md-select-on-focus=""></textarea>
    </md-input-container>

    </div>
  <div class="text-center md-primary" ng-show="usuarioLogged.isLogged">
    <md-button class="md-raised md-primary" ng-click="putComment()">Comentar</md-button>
  </div>

  </div>
</md-content>
