<div class="container text-center">
  <div id="div-login1" class="row">
    <div id="div-login" class="col-sm-6 col-md-4 col-md-offset-4" ng-controller="login">
      <h1 class="text-center login-title">Accede a tu cuenta</h1>

      <div class="account-wall">
        <form class="form-signin" name="loginForm">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="usuarioLogin.email" type="email">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Contraseña</label>
            <input ng-model="usuarioLogin.contrasena" type="password">
          </md-input-container>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="look()">Entra</button>
          <div class="dropdown-menu dropdown-menu-right checkbox" role="menu">
            <label>
              <input type="checkbox"> Recuérdame
            </label>
          </div>
          <a class="pull-right need-help" href="">¿Necesitas Ayuda?</a>
          <span class="clearfix"></span>
        </form>
      </div>
      <a href="#/register" class="text-center new-account">Créate una cuenta</a>
    </div>
  </div>
</div>
