<div id="resultados" ng-controller="AppCtrl" ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage">

<div flex-gt-sm="50" flex="">

  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Resultados de la búsqueda</span>
    </div>
  </md-toolbar>

  <md-content>
    <md-list flex="">
      <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="clickSearch(item);">
        <img ng-src="{{item.foto}}" class="md-avatar" alt="{{item.nombre}}">
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.nombre }}</h3>
          <h3>{{item.descripcion}}</h3>
          <h4>{{ item.tipo }}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>

</div>
